@charset "utf-8";
/* NUR ANIS SYAMIMI BINTI ALI
   13/7/2021 */

h1{
   text-align: center;
}

form{
   background-image: url("background.jpg");
   background-size: cover;
   margin: auto;
   width: 50%;
   padding: 10px;
   font-family: arial, verdana, sans-serif;
}

input[type=text], input[type=number]{
   width: 100%;
   height: 30px;
}

input[type=submit], input[type=reset]{
   width: 100px;
   height: 40px;
   background-color: #DCDCDC;
}